<header>
    <img src="./../assets/chart.gif" id="logo" />
    <h1><a href= "index.html"> Skillsoft Weight Tracker</a></h1>
</header>
<nav>
    <ul>
        <li><a routerLink="/home"> home</a></li>
        <li><a routerLink="/register"> register</a></li>
        <li><a routerLink="/login"> login</a></li>
    </ul>
</nav>
<div id="container">
    <main>
        <h2> How to participate in the program</h2>
        <p>lorem ipsum and such</p>
    </main>
    <aside>
        <section>
            <h4>Health News</h4>
            <p> lorem ipsum</p>
        </section>
        <section>
            <h4>Healthy Recipes</h4>
            <a href=" ">grilled chicken</a>
            <a href=" ">minced beef patties</a> 
            <a href=" ">potato pancakes</a>
        </section>
    </aside>
</div>
<footer>
    <hr />
    Copyright &copy; 2021. All rights reserveds
</footer>